# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
# your code here
import pandas as pd
import numpy as np

# 1.-  I load dataframe ttt into jupyter
ttt=pd.read_csv('tic-tac-toe.csv')
display(ttt.head(100))
display(ttt.isnull().sum())              # there are no nulls

# 2.-  I inspected and it is reliable because when the last column is True de X player wins.

# 3.-  Convert categorical values to numeric 
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

NUM_FEATS = []
CAT_FEATS = ['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR']
FEATS = NUM_FEATS + CAT_FEATS
TARGET = 'class'

categorical_transformer = Pipeline(steps=[('onehot', OneHotEncoder(handle_unknown='ignore'))])
preprocessor = ColumnTransformer(transformers=[('cat', categorical_transformer, CAT_FEATS)])

display(preprocessor)

new_ttt=pd.DataFrame(data=preprocessor.fit_transform(ttt))

new_ttt[TARGET]=ttt['class']
display(new_ttt)

new_ttt.shape

# 4.-  the output is the last column

target_ttt=ttt['class']

display(target_ttt)
display(new_ttt[range(27)])

# 5.-  the input data is already normalized because only have two values (0,1)

   TL TM TR ML MM MR BL BM BR  class
0   x  x  x  x  o  o  x  o  o   True
1   x  x  x  x  o  o  o  x  o   True
2   x  x  x  x  o  o  o  o  x   True
3   x  x  x  x  o  o  o  b  b   True
4   x  x  x  x  o  o  b  o  b   True
.. .. .. .. .. .. .. .. .. ..    ...
95  x  x  o  o  x  b  b  o  x   True
96  x  x  o  b  x  o  o  x  b   True
97  x  x  o  b  x  o  o  b  x   True
98  x  x  o  b  x  o  b  o  x   True
99  x  x  o  b  x  b  o  x  o   True

[100 rows x 10 columns]

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

ColumnTransformer(transformers=[('cat',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 ['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL',
                                  'BM', 'BR'])])

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,class
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,True
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,True
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,True
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,True
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,False
954,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,False
955,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,False
956,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,False
957,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,False

0       True
1       True
2       True
3       True
4       True
       ...
953    False
954    False
955    False
956    False
957    False
Name: class, Length: 958, dtype: bool

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
954,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
955,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
956,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
957,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [2]:
preprocessor

ColumnTransformer(transformers=[('cat',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 ['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL',
                                  'BM', 'BR'])])

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [7]:
# your code here
# 1. Split the training and test data.

from sklearn.model_selection import train_test_split

new_ttt_train, new_ttt_test = train_test_split(new_ttt)
display(new_ttt_train.shape)
display(new_ttt_test.shape)

# 2. Create a Sequential model.

import tensorflow as tf

model = tf.keras.models.Sequential()

# 3. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. 
#    Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.

model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(32, activation='relu'))
model.add(tf.keras.layers.Dense(32, activation='relu'))
model.add(tf.keras.layers.Dense(2, activation='softmax'))

# 4. Compile the model using adam as the optimizer and sparse_categorical_crossentropy as the loss function. For metrics, use accuracy for now.

model.compile(optimizer='adam',
             loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

# 5. Fit the training data.

model.fit(new_ttt_train[range(27)], new_ttt_train[TARGET], epochs=16)

(718, 28)

(240, 28)

Epoch 1/16
WARNING:tensorflow:Layer flatten_3 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

23/23 [==============================] - 0s 1ms/step - loss: 0.6568 - accuracy: 0.6476
Epoch 2/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6120 - accuracy: 0.6560
Epoch 3/16
23/23 [==============================] - 0s 1ms/step - loss: 0.5809 - accuracy: 0.6992
Epoch 4/16
23/23 [==============================] - 0s 1ms/step - loss: 0.5512 - accuracy: 0.7117
Epoch 5/16
23/23 [==============================] - 0s 1ms/step - loss: 0.5241 - accuracy: 0.7632
Epoch 6/16
23/23 [==============================] - 0s 1ms/step - loss: 0.4981 - accuracy: 0.7730
Epoch 7/16
23/23 [==============================] - 0s 1ms/step - loss: 0.4722 - accuracy: 0.7897
Epoch 8/16
23/23 [==============================] - 0s 1ms/step - loss: 0.4466 - accuracy: 0.8050
Epoch 9/16
23/23 [==============================] - 0s 1ms/step - loss: 0.4210 - accuracy: 0.8189
Epoch 10/16
23/23 [==============================] - 0s 1ms/step - loss: 0.3939 - accuracy: 0.8259
Epoch 11/16
23/23 [==============================] - 0s 1ms/step - loss: 0.3590 - accuracy: 0.8510
Epoch 12/16
23/23 [==============================] - 0s 1ms/step - loss: 0.3299 - accuracy: 0.8635
Epoch 13/16
23/23 [==============================] - 0s 1ms/step - loss: 0.2911 - accuracy: 0.9123
Epoch 14/16
23/23 [==============================] - 0s 1ms/step - loss: 0.2581 - accuracy: 0.9359
Epoch 15/16
23/23 [==============================] - 0s 1ms/step - loss: 0.2221 - accuracy: 0.9513
Epoch 16/16
23/23 [==============================] - 0s 1ms/step - loss: 0.1927 - accuracy: 0.9582

In [15]:
display(model.summary())

# 6. Evaluate your neural network model with the test data.

test_loss, test_accuracy = model.evaluate(new_ttt_test[range(27)], new_ttt_test[TARGET])

display(test_accuracy)

# 6. Save your model as tic-tac-toe.model

model.save('tic-tac-toe.model')

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_3 (Flatten)          multiple                  0
_________________________________________________________________
dense_9 (Dense)              multiple                  896
_________________________________________________________________
dense_10 (Dense)             multiple                  1056
_________________________________________________________________
dense_11 (Dense)             multiple                  66
=================================================================
Total params: 2,018
Trainable params: 2,018
Non-trainable params: 0
_________________________________________________________________

None

8/8 [==============================] - 0s 997us/step - loss: 0.2017 - accuracy: 0.9333

0.9333333373069763

INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [36]:
# your code here

saved_model = tf.keras.models.load_model('tic-tac-toe.model')

prediction = saved_model.predict(new_ttt_test[range(27)], batch_size=None, verbose=10, steps=None, callbacks=None, max_queue_size=10, workers=1, use_multiprocessing=False)

display(len(prediction))
display(len(new_ttt_test[TARGET]))

for i in range(240):
    print(np.argmax(prediction[i]), prediction[i], list(new_ttt_test[TARGET])[i])

240

240

1 [0.04726351 0.95273644] True
1 [0.01658836 0.98341167] True
1 [0.06738149 0.9326185 ] True
1 [0.03435089 0.96564907] True
1 [0.04091089 0.95908916] True
1 [0.3165122  0.68348783] True
1 [0.01010129 0.98989874] True
1 [0.04778848 0.9522115 ] True
0 [0.87770236 0.12229758] False
1 [0.04034815 0.9596519 ] True
0 [0.87064743 0.12935257] False
1 [0.00935433 0.99064565] True
1 [0.01499909 0.98500097] True
1 [0.10562947 0.89437056] True
1 [0.08048763 0.91951233] True
1 [0.1606499  0.83935016] True
0 [0.92946374 0.07053631] False
0 [0.575397   0.42460302] False
1 [0.01140253 0.98859745] True
1 [0.02940469 0.97059536] True
1 [0.06346682 0.93653315] True
1 [0.12530291 0.87469715] True
0 [0.91841763 0.08158232] False
1 [0.0286588  0.97134113] True
1 [0.01476313 0.9852368 ] True
0 [0.8236304  0.17636965] False
1 [0.19564062 0.8043593 ] True
0 [0.70299727 0.2970027 ] False
0 [0.9642209  0.03577914] False
0 [0.8041036  0.19589648] False
1 [0.17635672 0.82364327] True
1 [0.02453579 0.9754642 ] True
1 [0.08965934 0.91034067] True
1 [0.03196682 0.9680332 ] True
1 [0.05592335 0.94407666] True
1 [0.04884464 0.95115536] True
1 [0.148334   0.85166603] True
1 [0.01526632 0.98473364] True
0 [0.92093885 0.07906123] False
1 [0.02250331 0.97749674] True
1 [0.14524302 0.85475695] False
1 [0.16474113 0.83525884] True
1 [0.00368149 0.99631846] True
1 [0.1275109  0.87248915] True
0 [0.8641806  0.13581935] False
1 [0.10394178 0.89605814] True
1 [0.01468697 0.985313  ] True
1 [0.25642437 0.7435757 ] False
1 [0.13398321 0.86601686] True
0 [0.73819983 0.2618002 ] False
1 [0.10911445 0.8908856 ] True
1 [0.04841755 0.9515824 ] True
0 [0.5772035 0.4227965] False
1 [0.31191078 0.6880892 ] True
0 [0.9871317  0.01286822] False
0 [0.96537805 0.03462202] False
1 [0.39791724 0.60208285] False
0 [0.57968324 0.42031682] True
0 [0.73007876 0.2699212 ] False
1 [0.02463735 0.9753626 ] True
1 [0.09467722 0.9053228 ] True
0 [0.6445366 0.3554634] True
1 [0.0604692 0.9395308] True
0 [0.876634   0.12336604] False
1 [0.04165586 0.95834416] True
0 [0.82974964 0.17025036] False
1 [0.01864465 0.98135537] True
0 [0.78560656 0.2143934 ] False
0 [0.90900046 0.09099957] False
0 [0.8189898  0.18101022] False
1 [0.15655276 0.8434472 ] True
0 [0.88370264 0.11629741] False
1 [0.32421735 0.6757826 ] False
1 [0.01268097 0.98731905] True
1 [0.09649053 0.90350944] True
0 [0.98575866 0.01424138] False
1 [0.04019704 0.959803  ] True
1 [0.17855349 0.8214465 ] True
1 [0.02312134 0.9768787 ] True
1 [0.03198884 0.9680111 ] True
1 [0.18026292 0.8197371 ] True
1 [0.07730351 0.9226965 ] True
1 [0.09909505 0.90090495] True
1 [0.03126018 0.96873987] True
1 [0.08670371 0.9132963 ] True
1 [0.07663698 0.92336303] True
1 [0.05636061 0.9436394 ] True
1 [0.02822043 0.9717795 ] True
1 [0.00311511 0.9968849 ] True
1 [0.0118426  0.98815745] True
1 [0.10254895 0.89745104] True
1 [0.14096284 0.85903716] True
0 [0.74881524 0.25118476] False
1 [0.18430266 0.81569725] True
0 [0.7779634  0.22203663] False
0 [0.75295454 0.24704544] False
1 [0.02714431 0.97285575] True
1 [0.2351224 0.7648776] True
1 [0.02915546 0.9708445 ] True
1 [0.12595743 0.8740426 ] True
1 [0.0223885  0.97761154] True
1 [0.01638641 0.9836136 ] True
0 [0.6399132 0.3600868] False
0 [0.6120038  0.38799614] False
1 [0.05761035 0.94238967] True
0 [0.8774986 0.1225013] False
1 [0.07230928 0.9276907 ] True
0 [0.7621502  0.23784976] False
1 [0.01606773 0.98393226] True
1 [0.03603306 0.9639669 ] True
1 [0.4161221  0.58387786] False
1 [0.05039291 0.94960713] True
1 [0.05185444 0.94814557] True
0 [0.8731565  0.12684348] False
1 [0.05108459 0.9489154 ] True
1 [0.05934051 0.9406595 ] True
1 [0.03160852 0.9683915 ] True
1 [0.03268974 0.9673102 ] True
1 [0.09765156 0.9023484 ] True
1 [0.18747409 0.81252587] False
1 [0.10464922 0.8953508 ] True
1 [0.26267692 0.737323  ] True
1 [0.12077479 0.87922525] True
1 [0.17319351 0.8268065 ] True
0 [0.85512626 0.1448738 ] False
1 [0.3870177 0.6129823] False
1 [0.0531009 0.9468992] True
1 [0.05397426 0.9460257 ] True
0 [0.5653995  0.43460044] False
1 [0.04133027 0.9586698 ] True
1 [0.06681848 0.9331816 ] True
1 [0.07348102 0.9265189 ] True
1 [0.01644038 0.9835596 ] True
0 [0.8880589  0.11194105] False
1 [0.36073503 0.63926494] True
0 [0.57123184 0.4287682 ] False
1 [0.12389451 0.87610555] True
1 [0.29659885 0.7034012 ] False
0 [0.8197915  0.18020855] False
1 [0.06529997 0.93469995] True
0 [0.8778494  0.12215054] False
1 [0.0360714 0.9639286] True
1 [0.04132056 0.95867944] True
1 [0.18799143 0.81200856] True
0 [0.8822454  0.11775456] False
1 [0.1460058  0.85399425] True
1 [0.01354969 0.9864503 ] True
1 [0.09823006 0.90177   ] True
1 [0.10594808 0.89405185] True
0 [0.9764396  0.02356045] False
0 [0.9401972  0.05980273] False
1 [0.05098996 0.94901   ] True
1 [0.13032518 0.86967474] True
0 [0.8328383  0.16716167] False
1 [0.13430151 0.8656985 ] True
1 [0.03061998 0.9693801 ] True
1 [0.01444862 0.98555136] True
1 [0.03401887 0.9659811 ] True
0 [0.8958814  0.10411859] False
1 [0.05341837 0.9465816 ] True
1 [0.09861179 0.9013882 ] True
1 [0.05070643 0.94929355] True
1 [0.15072493 0.8492751 ] True
1 [0.01848924 0.9815107 ] True
1 [0.06010043 0.9398995 ] True
1 [0.22741537 0.7725846 ] True
0 [0.9520971  0.04790287] False
1 [0.09902219 0.9009778 ] True
0 [0.83539784 0.16460215] False
0 [0.87400615 0.12599382] False
0 [0.5121657  0.48783422] False
0 [0.6256041 0.3743959] False
1 [0.13001728 0.8699827 ] True
0 [0.75607777 0.24392225] False
1 [0.04246622 0.9575338 ] True
0 [0.769727 0.230273] False
1 [0.3070348 0.6929652] False
0 [0.835755   0.16424504] False
1 [0.26590753 0.7340925 ] True
0 [0.88490003 0.11509992] False
1 [0.00951121 0.99048877] True
1 [0.06912883 0.9308712 ] True
0 [0.59946305 0.4005369 ] True
0 [0.5853781  0.41462186] False
1 [0.2734992 0.7265008] False
1 [0.01209933 0.9879006 ] True
1 [0.45569113 0.5443089 ] True
0 [0.9800774  0.01992264] False
1 [0.01295372 0.98704624] True
1 [0.05777523 0.94222474] True
1 [0.10109772 0.89890224] True
1 [0.04148036 0.95851964] True
0 [0.8921447  0.10785535] False
1 [0.01253192 0.987468  ] True
1 [0.01179258 0.9882074 ] True
0 [0.84402287 0.1559772 ] False
1 [0.06838371 0.93161625] True
0 [0.9540891  0.04591089] False
0 [0.9407068  0.05929315] False
1 [0.17792739 0.8220726 ] True
1 [0.02549008 0.97450995] True
0 [0.5279076  0.47209245] True
1 [0.14102033 0.85897964] True
1 [0.01301198 0.98698807] True
1 [0.20937443 0.7906255 ] True
1 [0.00773435 0.99226564] True
1 [0.09638891 0.9036111 ] True
0 [0.7723296  0.22767036] False
1 [0.06704292 0.93295705] True
0 [0.57776666 0.4222333 ] False
1 [0.01861036 0.9813896 ] True
0 [0.6588156  0.34118435] True
0 [0.8642814  0.13571866] False
0 [0.7079617 0.2920383] False
0 [0.80016047 0.19983949] False
1 [0.04975047 0.95024955] True
1 [0.02463759 0.97536236] True
0 [0.7620926  0.23790735] False
1 [0.04820986 0.95179015] True
0 [0.69445425 0.30554575] False
0 [0.5702408  0.42975917] False
1 [0.26370835 0.7362917 ] True
1 [0.04039789 0.9596022 ] True
0 [0.8540284 0.1459716] False
0 [0.8858816  0.11411836] False
1 [0.23674144 0.7632585 ] True
1 [0.24308139 0.7569186 ] True
1 [0.38692042 0.6130796 ] True
1 [0.06819073 0.93180925] True
1 [0.46203423 0.5379658 ] False
0 [0.9210967  0.07890332] False
1 [0.02070682 0.9792932 ] True
1 [0.03804456 0.9619554 ] True
1 [0.07185562 0.9281444 ] True
0 [0.9580315  0.04196857] False
0 [0.82588196 0.17411801] False
0 [0.82419854 0.17580147] False
0 [0.73768264 0.26231742] False
0 [0.8262241  0.17377585] False
0 [0.7081694 0.2918306] False

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [46]:
# your code here

model_new = tf.keras.models.Sequential()

model_new.add(tf.keras.layers.Flatten())
model_new.add(tf.keras.layers.Dense(32, activation='relu'))
model_new.add(tf.keras.layers.Dense(32, activation='relu'))
model_new.add(tf.keras.layers.Dense(32, activation='relu'))
model_new.add(tf.keras.layers.Dense(2, activation='softmax'))    # If adding more layers, the model is not improving.

optime=tf.keras.optimizers.Adam(learning_rate=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-07, amsgrad=False)  # using optimizer is not improving the model

model_new.compile(optimizer=optime,
             loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

model_new.fit(new_ttt_train[range(27)], new_ttt_train[TARGET], epochs=16)

test_loss, test_accuracy = model.evaluate(new_ttt_test[range(27)], new_ttt_test[TARGET])

display(test_accuracy)

Epoch 1/16
WARNING:tensorflow:Layer flatten_13 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

23/23 [==============================] - 0s 1ms/step - loss: 0.7514 - accuracy: 0.6393
Epoch 2/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6804 - accuracy: 0.6546
Epoch 3/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6494 - accuracy: 0.6560
Epoch 4/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6482 - accuracy: 0.6560
Epoch 5/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6475 - accuracy: 0.6560
Epoch 6/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6471 - accuracy: 0.6560
Epoch 7/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6549 - accuracy: 0.6560
Epoch 8/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6474 - accuracy: 0.6560
Epoch 9/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6456 - accuracy: 0.6560
Epoch 10/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6506 - accuracy: 0.6560
Epoch 11/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6429 - accuracy: 0.6560
Epoch 12/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6554 - accuracy: 0.6560
Epoch 13/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6488 - accuracy: 0.6560
Epoch 14/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6514 - accuracy: 0.6560
Epoch 15/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6464 - accuracy: 0.6560
Epoch 16/16
23/23 [==============================] - 0s 1ms/step - loss: 0.6436 - accuracy: 0.6560
8/8 [==============================] - 0s 831us/step - loss: 0.2017 - accuracy: 0.9333

0.9333333373069763

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here

# I don't see any improvement neither optimizer nor increment the epochs