## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [102]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [103]:
# Your code here
sample_list_1=random.sample(range(101),80)
print(sample_list_1)

[51, 9, 85, 7, 4, 92, 58, 60, 17, 13, 52, 72, 15, 32, 21, 16, 65, 83, 64, 86, 38, 71, 14, 70, 84, 62, 99, 23, 39, 5, 8, 33, 66, 82, 44, 96, 45, 57, 40, 88, 31, 24, 18, 11, 10, 42, 20, 75, 73, 93, 27, 59, 41, 28, 89, 29, 54, 19, 80, 53, 2, 36, 48, 100, 95, 68, 55, 35, 46, 67, 43, 78, 26, 76, 22, 3, 30, 94, 0, 50]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [104]:
# Your code here
set1=set(sample_list_1)
print(set1)
print(len(set1))                                      # Yes, the lenght is 80

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 78, 80, 82, 83, 84, 85, 86, 88, 89, 92, 93, 94, 95, 96, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [105]:
# Your code here

sample_list_2=[random.sample(range(101),1)[0] for i in range(80) ]

print(sample_list_2)

[83, 73, 2, 58, 50, 15, 68, 42, 17, 41, 13, 18, 5, 87, 75, 99, 19, 95, 93, 62, 27, 87, 65, 72, 1, 38, 46, 44, 92, 44, 25, 39, 79, 11, 65, 33, 29, 98, 28, 69, 17, 16, 42, 13, 39, 37, 83, 67, 66, 54, 24, 98, 65, 37, 73, 79, 97, 82, 19, 6, 100, 31, 48, 56, 70, 73, 63, 50, 57, 46, 31, 42, 30, 46, 20, 100, 31, 17, 69, 81]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [106]:
# Your code here

set2=set(sample_list_2)

print(set2)
print(len(set2))      # Now the length of the set2 is not 80 because duplicates are deleted.

{1, 2, 5, 6, 11, 13, 15, 16, 17, 18, 19, 20, 24, 25, 27, 28, 29, 30, 31, 33, 37, 38, 39, 41, 42, 44, 46, 48, 50, 54, 56, 57, 58, 62, 63, 65, 66, 67, 68, 69, 70, 72, 73, 75, 79, 81, 82, 83, 87, 92, 93, 95, 97, 98, 99, 100}
56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [107]:
# Your code here
set3=set([i for i in set1 if i not in set2])
print(set3)

{0, 3, 4, 7, 8, 9, 10, 14, 21, 22, 23, 26, 32, 35, 36, 40, 43, 45, 51, 52, 53, 55, 59, 60, 64, 71, 76, 78, 80, 84, 85, 86, 88, 89, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [108]:
# Your code here
set4=set([i for i in set2 if i not in set1])
print(set4)

{1, 97, 98, 37, 6, 69, 79, 81, 87, 56, 25, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [109]:
# Your code here
set5=set([i for i in set1 if i in set2])
print(set5)

{2, 5, 11, 13, 15, 16, 17, 18, 19, 20, 24, 27, 28, 29, 30, 31, 33, 38, 39, 41, 42, 44, 46, 48, 50, 54, 57, 58, 62, 65, 66, 67, 68, 70, 72, 73, 75, 82, 83, 92, 93, 95, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [110]:
# Your code here

print(f'set1=',len(set1))
print(f'set2=',len(set2))
print(f'set3=',len(set3))
print(f'set4=',len(set4))
print(f'set5=',len(set5))

print(f'set1=set3+set5 >>',len(set1)==len(set3)+len(set5))
print(f'set2=set4+set5 >>',len(set2)==len(set4)+len(set5))

set1= 80
set2= 56
set3= 36
set4= 12
set5= 44
set1=set3+set5 >> True
set2=set4+set5 >> True

 Create an empty set called `set6`.

In [111]:
# Your code here
set6=set()                          ## I create an empy set with set() because with {} is a dictionary
print(type(set6))

<class 'set'>

 Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [112]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 78, 80, 82, 83, 84, 85, 86, 88, 89, 92, 93, 94, 95, 96, 99, 100}

#### Check if `set1` and `set6` are equal.

In [113]:
# Your code here

print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [114]:
# Your code here

print(f'Is set2 in set1 ? >> ', set2.issubset(set1))
print(f'Is set3 in set1 ? >> ', set3.issubset(set1))

Is set2 in set1 ? >>  False
Is set3 in set1 ? >>  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [115]:
# Your code here
set345=set3.union(set4).union(set5)
set12=set1.union(set2)
print(set345)
print(set12)
print('set12 == set345 ? >>', set12==set345)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98, 99, 100}
set12 == set345 ? >> True

#### Using the `pop` method, remove the first element from `set1`.

In [116]:
# Your code here

for i in range(len(set1)):
    if i==0:
        x=set1.pop()                     ## delete the first element

print('item deleted = ', x)

item deleted =  0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [117]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print('Original set1= ',set1)
for i in list_to_remove:
    set1.discard(i)
print('Final set1= ',set1)

Original set1=  {2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 62, 64, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 78, 80, 82, 83, 84, 85, 86, 88, 89, 92, 93, 94, 95, 96, 99, 100}
Final set1=  {2, 3, 4, 5, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 32, 33, 35, 36, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 54, 55, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 75, 76, 78, 80, 82, 83, 84, 85, 86, 88, 92, 93, 94, 95, 96, 100}